.conteudo__info{
    height: 100vh;
    padding: 0 12px;
}

.conteudo__form{
    padding: 32px;
    background-color: var(--cor-t3);
    border: 1px solid var(--cor-p3);
    border-radius: 10px;
    max-width: 520px;
    margin: 60px auto 0 auto;
}

.conteudo__titulo{
    margin-bottom: 8px;
}

.conteudo__subtitulo{
    max-width: 40ch;
    margin-bottom: 40px;
}

.conteudo__login--google{
    display: flex;
    gap: 10px;
    background-color: var(--cor-t3);
    border: 1px solid var(--cor-p3);
    border-radius: 10px;
    padding: 8px 24px;
    margin: 0 auto 40px auto;
    cursor: pointer;
}

.conteudo__email{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
}

.conteudo__senha{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

.conteudo__input{
    width: 100%;
    height: 36px;
    padding: 4px 12px;
    border: 1px solid var(--cor-p3);
    border-radius: 10px;
    background-color: inherit;
}

.conteudo__block-senha{
    width: 100%;
    height: 36px;
    border: 1px solid var(--cor-p3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 20px;
}

.is-focus:focus-within{
    outline: 1px solid black;
    border-color: black;
}

.conteudo__input-senha{
    width: 100%;
    height: 100%;
    padding: 4px 12px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: inherit;
    outline: none;
}

.conteudo__input-img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.conteudo__lembrar--senha{
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
}

.conteudo__block--check{
    display: flex;
    align-items: center;
    gap: 4px;
}

.conteudo__btn{
    display: flex;
    margin: 0 auto 12px auto;
    background-color: var(--cor-t3);
    border: 1px solid var(--cor-p3);
    border-radius: 10px;
    padding: 8px 24px;
    cursor: pointer;
}

@media(max-width: 800px){
    .conteudo__info{
        height: initial;
        margin-bottom: 20px;
    }

    .conteudo__form{
        padding: 32px;
        margin: 0 auto;
    }
}